<header class="bg-[#393736] text-white fixed top-0 left-0 w-full">
    <nav class="container mx-auto flex items-center justify-center py-4">

      <!-- Navigation Links -->
      <ul class="flex space-x-4">
        <li><a routerLink="/home" class="hover:text-[#FFF1B3]">Home</a></li>
        <li><a routerLink="/about" class="hover:text-[#FFF1B3]">About</a></li>
        <li><a routerLink="/blog" class="hover:text-[#FFF1B3]">Blog</a></li>
        <li><a routerLink="/experience" class="hover:text-[#FFF1B3]">Experience</a></li>
        <li><a routerLink="/services" class="hover:text-[#FFF1B3]" >Contact</a></li>
        <!-- Add more navigation links as needed -->
      </ul>
    </nav>
  </header>