<div class="flex flex-col md:flex-row justify-center h-screen items-center">
  <div class="flex flex-col md:flex-row items-center justify-center w-full md:w-auto text-center md:text-left mx-auto md:pl-10">
    <div class="flex flex-col md:pr-32">
      <h1 class="text-5xl font-semibold mb-4">Hello! 👋</h1>
      <h1 class="pt-6 text-4xl font-medium pb-7">My Name is Anton Bilonog</h1>
    </div>

    <div class="w-64 h-64 flex items-center justify-center">
      <div class="w-full h-full min-w-full min-h-full rounded-full overflow-hidden">
        <img
          src="assets/selfportrait.jpg"
          alt="Your Image"
          class="object-cover w-full h-full"
        />
      </div>
    </div>
  </div>
</div>



<div class="p-10 text-lg">
  Welcome to my digital corner! I'm a Junior at Virginia Tech majoring in
  Computer Science, with a deep-rooted passion for exploring new concepts and
  making a positive impact on others. This summer, I am thrilled to be joining
  Collins Aerospace as a Software Engineering Intern. <br /><br />
  If you're curious to know more about me, my passions, and interests, feel free
  to navigate to the
  <a
    routerLink="/about"
    class="text-[#861F41] hover:text-[#E87722] underline underline-offset-1"
    >About</a
  >
  page. For a deeper look into my projects, and a sneak peek into my mind
  through my blog entries, check out the
  <a
    routerLink="/contact"
    class="text-[#861F41] hover:text-[#E87722] underline underline-offset-1"
    >Blog</a
  >
  page. <br /><br />
  For a comprehensive overview of my professional journey and an extended
  version of my resume, head over to the
  <a
    routerLink="/contact"
    class="text-[#861F41] hover:text-[#E87722] underline underline-offset-1"
    >Experience</a
  >
  page, where you can also download my resume document. <br /><br />
  Should you wish to connect, collaborate, or simply say hi, you'll find all the
  necessary contact information and related links on the
  <a
    routerLink="/contact"
    class="text-[#861F41] hover:text-[#E87722] underline underline-offset-1"
    >Contact</a
  >
  page.
  <br /><br />
  Thank you for dropping by, and I hope you enjoy exploring the site!
</div>
