<div class="flex items-center justify-center py-32 text-3xl font-medium">
  About Me
</div>
<body class="p-10">
  <ul class="text-2xl">
    <Li class="pb-48 font-light text-4xl text-center"
      >"What we do for ourselves dies with us. What we do for others and the
      world remains and is immortal" - Albert Pine
    </Li>
    <div class="text-lg">
      I wanted to create a seperate about page to allow you to get to know me a
      little bit more. Of course, it won't be everything, but if you are curious
      about anything else, feel free to contact me through my
      <a routerLink="/contact" class="text-[#861F41] hover:text-[#E87722] underline underline-offset-1 ">Contact</a> page.
    </div>
    <li class="py-10 font-semibold">Who am I?</li>
    <div class="text-lg">
      I'm a Junior at Virginia Tech majoring in Computer Science looking to make
      a positive impact on the world. I am a proud son of Ukranian immigrants,
      brother to Katya Bilonog (soon to be Katya Woolley 🎊), and grandson of my
      Babushka who thankfully is living as a refugee at our home. I would not be
      where I am today without my family, and I owe all of my achievements to
      them. <br /><br />
      I have loved my time at Virginia Tech so far, and I am incredibly thankful
      for all the friends I have made and the opportunities that came to me in
      Blacksburg, VA. One of these opportunities was starting <a href="linkedin.com/company/cscareersvt" class="text-[#861F41] hover:text-[#E87722] underline underline-offset-1 ">CS Careers @ VT</a> with my friends, an organization that aims to help students engage
      together to work towards getting their dream career. We have built a
      community of over 400 people from the ground up, and I am so proud of what
      everyone has accomplished together.
      <br /><br />
      I always strive to be the best version of myself, and I am always looking
      for ways to improve different aspects of my life. This mindset itself has
      taught me many lessons, one of which is to live in the moment and enjoy
      the present when building a skill/habit. I believe that people
      overemphasize the results when it comes to success, and that the journey
      is the most important and enjoyable part. Learning to get uncomfortable
      with the comfortable is hard, but seeing yourself get better
      little-by-little while building healthy habits is especially satisfying.
      <br /><br />
      I do my best to reflect my energy and passion to those in my life. As I
      continue my journey through life, I will make constant effort to aid my
      family, friends, and people around me, as they are my motivation.
    </div>
    <li class="py-10 font-semibold">My Hobbies</li>
    <div class="text-lg">
      I like to keep myself busy with a variety of different pastimes, some of
      them include:
    </div>
    <!-- Change color of the markers -->
    <ul class="list-disc marker:text-[#393736] py-2 pl-5 text-lg">
      <LI>Lifting 🏋️</LI>
      <li>Journaling 📓</li>
      <li>Cooking 👨‍🍳</li>
      <li>Learning new skills 🎸</li>
      <li>Hiking/Going on walks ⛰️</li>
      <li>Working on projects 💻</li>
    </ul>

    <li class="py-10 font-semibold">Fun Facts</li>
    <div class="text-lg">Here are some fun facts about myself:</div>
    <ul class="list-disc marker:text-[#393736] py-2 pl-5 text-lg">
      <LI>I am currently reading Meditations by Marcus Aurelius 📖</LI>
      <li>
        Favorite meal to cook is steak with baked sweet potato and sesame
        broccolli 🥩
      </li>
      <li>
        I played water polo for 6 years and have been to the Junior Olympics 4
        times 🤽‍♂️
      </li>
      <li>Currently prepping for a body building competition 💪</li>
      <li>Did Ukranian dance from when I was 3 up until I was 14 🇺🇦</li>
      <li>Grew up playing Kingdom Hearts on the PS2 🗝️</li>
      <li>
        Firm believer that bossa nova instrumentals are the perfect background
        music❗️
      </li>
      <li>I have a Cavalier King Charles Spaniel named Lucy 🐶</li>
    </ul>
  </ul>
</body>
