<div class="flex items-center justify-center pt-32 pb-16 text-3xl font-medium">
  Experience
</div>

<div class="mx-auto pb-16 text-3xl w-3/5">
  Software Engineer Intern @
  <a
    href="https://www.collinsaerospace.com"
    target="_blank"
    rel="noopener noreferrer"
    class="text-[#861F41] hover:text-[#E87722] hover:underline"
    >Collins Aerospace</a
  >
  <div class="text-sm text-gray-500 pb-4 pt-2">May 2023 - Present</div>

  <div class="text-base">More info soon...</div>
</div>

<div class="mx-auto pb-16 text-3xl w-3/5">
  Software Developer Intern @
  <a
    href="https://tofflerassociates.com"
    class="text-[#861F41] hover:text-[#E87722] hover:underline"
    target="_blank"
    rel="noopener noreferrer"
    >Tofflers Associates</a
  >
  <div class="text-sm text-gray-500 pb-4 pt-2">May 2023 - Present</div>

  <div>
    <ul class="list-disc marker:text-[#393736] py-2 pl-5 text-base">
      <li>
        Spearheaded a team of 6 interns on developing a website that uses cloud
        storage to act as a database for business management consulting
      </li>
      <li>Used HTML, CSS, JavaScript, and SQL for web development</li>
      <li>In charge of managing bug testing with an emphasis of using JIRA</li>
      <li>Made impactful decisions for the MVP of the website</li>
      <li>
        Helped develop a variety of different features such as a forums section
        within the QDA product, a specific search component, and more
      </li>
      <li>
        Conducted research into the efficiency of Artificial Intelligence and
        Blockchain
      </li>
    </ul>
  </div>
</div>
<div class="mx-auto pb-16 text-3xl w-3/5">
  Sandwich Maker @
  <a
    href="https://www.thebigcheeseannapolis.com/home.htm"
    class="text-[#861F41] hover:text-[#E87722] hover:underline"
    target="_blank"
    rel="noopener noreferrer"
    >The Big Cheese</a
  >
  <div class="text-sm text-gray-500 pb-4 pt-2">April 2021- August 2021</div>

  <div>
    <ul class="list-disc marker:text-[#393736] py-2 pl-5 text-base">
      <li>
        Led sales and customer service activities in the food and beverage space
      </li>
      <li>
        Provided motivation and contributed to the high spirits of the workplace
        as the service team and I worked long hours
      </li>
      <li>Ensured that the customers were always satisfied</li>
      <li>Made a large variety of sandwiches (and damn good ones)</li>
    </ul>
  </div>
</div>
