<div class="flex items-center justify-center pt-32 pb-12 text-3xl font-medium">
  Let's Connect
</div>

<nav class="container mx-auto flex items-center justify-center py-4">
  <!-- Navigation Links -->
  <ul
    class="grid grid-cols-1 md:grid-cols-3 gap-4 md:gap-20 items-center justify-items-center"
  >
    <li class="text-center rounded-lg hover:bg-[#F9F9F9]">
      <div
        class="w-24 h-24 rounded-full bg-cover bg-center mx-auto"
        style="background-image: url('assets/email.png')"
      ></div>
      <div class="pt-4 mx-auto pb-2">
        <div style="max-width: fit-content">anbilonog@gmail.com</div>
      </div>
    </li>
    <li class="text-center rounded-lg hover:bg-[#F9F9F9]">
      <a href="https://www.linkedin.com/in/antonbilonog" target="_blank">
        <div
          class="w-24 h-24 rounded-full bg-cover bg-center mx-auto"
          style="background-image: url('assets/linkedincircle.png')"
        ></div>
        <div class="pt-4 mx-auto pb-2">
          <div style="max-width: fit-content">in:antonbilonog</div>
        </div>
      </a>
    </li>
    <li class="text-center rounded-lg hover:bg-[#F9F9F9]">
      <a href="https://github.com/antonbil23" target="_blank">
        <div
          class="w-24 h-24 rounded-full bg-cover bg-center mx-auto"
          style="background-image: url('assets/github.png')"
        ></div>
        <div class="pt-4 mx-auto pb-2">
          <div style="max-width: fit-content">@antonbil23</div>
        </div>
      </a>
    </li>
  </ul>
</nav>
